@media not print {
    body {
        overflow: hidden;
    }

    .clear {
        clear: both;
    }

    .pictxt {
        text-indent: -99999px;
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
    }

    .panel {
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
        background: linear-gradient(to right, #ffffff 0%, #e5e5e5 100%);
        border: 2px solid #ccc;
        opacity: 0.5;
        z-index: 99999;
    }

    #ivp-toolbar {
        border-top: 0;
        border-left: 0;
        border-radius: 0 0 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 35px;
        height: 310px;
        padding: 0 5px 0 4px;
    }

    .button {
        margin: 3px 0;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    #ivp-toolbar #minimize {
        margin-top: -1px;
    }

    .ImgWrapper {
        text-align: center;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -moz-transition: -moz-transform 1s;
        transition: transform 1s;
    }

    img {
        background-color: transparent !important;
        -moz-transition: -moz-transform 1s;
        transition: transform 1s;
    }
}

@media print {
    #ivp-toolbar {
        display: none;
    }
    img, .ImgWrapper {
        -moz-transform: none !important;
        transform: none !important;
    }
}
